@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Amita:wght@400;700&family=Arapey&family=Arima+Madurai:wght@400;500;700&family=Charm:wght@400;700&family=Dancing+Script:wght@500&family=Great+Vibes&family=Handlee&family=Itim&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:wght@200;300;400;500;600;700&family=Oleo+Script:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Poppins:wght@200;300;400;500&display=swap');
 
*{
	font-family: 'Amaranth', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	transition: all .4s linear;
}  
 
:root{
	--pink: pink;
}
html{
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 4rem;
}
body{
	background: linear-gradient(to left,#80daeb,#9733ee,#da22ff);
}

header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 8%;
	background: #ffffff;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 1.0);

}
header #menu-bar,#user{
	display: none;
	font-size: 3rem;
	color: #ffffff;
	text-shadow: 0 .5rem 1rem rgba(0, 0, 0, 1.0);
	text-decoration: none;
}
header #user{
	display: block;
}

header #menu-bar:hover,#user:hover{
	color: #da22ff;
}
header .logo span{
	font-size: 3.5rem;
	font-weight: bolder;
	float: left;
	color: #ffffff;
	text-shadow: 0 .5rem 1rem rgba(0, 0, 0, 1.0);
}

header .navbar a{
	text-decoration: none;
	font-size: 2.5rem;
	margin-left: 6rem;
	color: #ffffff;
	text-shadow: 0 .5rem 1rem rgba(0, 0, 0, 1.0);
}
header .navbar a:hover{
	text-shadow: 0 .5rem 1rem #CB5EEE;
}

/*------------Home-----------*/

.home{
	padding: 20rem 15rem;
	color: #ffffff;
	text-shadow: 0 .5rem 1rem rgba(0, 0, 0, 1.0);
}
.home .row{
	display: flex;
	flex: 1 1 50rem;
}
.home .intro h1{
	font-size: 7rem;
}
.home .intro h2{
	font-size: 4rem;
}
.home .row .intro h2 span{
	animation: animate 3s 10;
}
@keyframes animate{
	25%{
		color: #e7feff;
	}
	50%{
		color: #87cefa;
	}
	75%{
		color: #f4bbff;
	}
	100%{
		color: #da22ff;
	}
}
.btnhire{
	font-size: 2rem;
	margin-top: 4rem;
	padding: 1rem 4rem;
	color: #ffffff;
	text-shadow: 0 .5rem 1rem rgba(0, 0, 0, 1.0);
	background: #da22ff;
	border-radius: 1rem;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 1.0);
}
.btnhire:hover{
	background: #6495ed;
}
.home .image img{
	object-fit: cover;
	margin-left: 6rem;
	width: 27rem;
	height: 27rem;
	border: 1rem solid rgba(0, 0, 0, .1);
	border-radius: 20rem;
	box-shadow: 0 .8rem .1rem 5rem #ffffff;
}


/*----------Portfolio--------*/

.portfolio{
	padding: 10rem 15rem;
}
.portfolio .about-heading,.project .project-heading,.design .design-heading,.contact .contact-heading{
	font-size: 4rem;
	color: #ffffff;
}
.portfolio .about-heading span,.project .project-heading span,.design .design-heading span,.contact .contact-heading span{
	text-shadow: 0 .5rem 1rem rgba(0, 0, 0, 1.0);
}
.portfolio .row{
	display: flex;
	flex: 1 1 30rem;
	width: 100rem;
	height: 40rem;
	background: #ffffff;
	border-radius: 2rem;
	box-shadow:  .7rem .7rem rgba(0, 0, 0, .7);
}
.portfolio .row .education{
	padding: 3rem 5rem;
}
.portfolio .row .education h1,.skill-heading{
	font-size: 3rem;
}
.portfolio .row .education .edu-row h2{
	font-size: 2.2rem;
}

.portfolio .row .education ul{
	margin-top: 2rem;
	font-size: 1.5rem;
	line-height: 2.5rem;
	padding: 0rem 3rem;
}
.portfolio .education .edu-row {
	display: flex;
	flex: 1 1 30rem;
}
.skill-heading{
	margin-top: 3rem;
}
.portfolio .row .skill {
	display: flex;
	flex: 1 1 30rem;
	padding: 0rem 3rem;	
}

/*------Bar--------*/
.bar{
	color: #000000;
	letter-spacing: 1px;
	font-size: 1.3rem;
	position: relative;
	margin-top: -7rem;
	display: inline-block;
	width: 120%;
	margin-left: 1rem;
}
.skill h3{
	margin-top: 100rem;
	font-size: 3rem;
}
.bar span{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 3rem;
	background: #e7feff;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 1.0);
	border-radius: 5rem;
}

.bar span:before{
	position: absolute;
	content: '';
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 10;
	background: linear-gradient(to left,#80daeb,#9733ee,#da22ff);
	border-radius: 10rem;
	animation: bar 4s ease;
}

@keyframes bar{
    from{
    	width: 0;
    }
}

.skill .bar:nth-child(2) span:before{
	width: 85%;
}
.skill .bar:nth-child(3) span:before{
	width: 80%;
}
.skill .bar:nth-child(4) span:before{
	width: 60%;
}
.skill .bar:nth-child(5) span:before{
	width: 55%;
}
.skill .bar:nth-child(6) span:before{
	width: 90%;
}

.animatebar{
	margin-top: 1rem;
}

abbr{
	width: 3rem;
	display: inline-block;
	height: 3rem;
	border-radius: 50px;
	text-align: center;
	line-height: 20px;
	position: absolute;
	top: 3rem;
	z-index: 1;
	background: linear-gradient(to left,#80daeb,#9733ee,#da22ff);
	box-shadow: 0 .5rem 1rem #F254A8;
	color: #ffffff;
	text-shadow: 0 .5rem 1rem rgba(0, 0, 0, 1.0);
	animation: count 4s ease;
}
@keyframes count{
	from{
	   left:0%;
    }
}
.skill .bar:nth-child(2) abbr{
	left: 85%;
}
.skill .bar:nth-child(3) abbr{
	left: 80%;
}
.skill .bar:nth-child(4) abbr{
	left: 60%;
}
.skill .bar:nth-child(5) abbr{
	left: 55%;
}
.skill .bar:nth-child(6) abbr{
	left: 90%;
}

/*------Project--------*/
.project{
	padding: 10rem;
}
.project .box-container{
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
}
.project .box-container .box{
	z-index: -1;
	width: 100rem;
	height: 20rem;
	display: flex;
	flex: 1 1 30rem;
	border: 1rem solid #ffffff;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 1.0);
	border-radius: .5rem;
	position: relative;
	overflow: hidden;
}
.project .box-container .box img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	position: absolute;
}

.project .box-container .box .content{
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 2rem;
	padding-top: 5rem;
	text-align: center;
}
.project .box-container .box .content h3{
	font-size: 2rem;
	color: #ffffff;
}
.project .box-container .box:hover .content{
	top: 0;
}
.project .box-container .box:hover .image{
	transform: translateY(150%);
}

.project .box-container .box .content .btnhire{
	padding: .2rem 2rem;
	font-size: 1.3rem;
	text-decoration: none;
	border-radius: unset;
}

/*--------Design-------------*/
.design{
	padding: 10rem;
}
.design .design-row{
	display: flex;
	flex: 1 1 30rem;
}
.design .exp-row{
	padding: 7rem 0rem;
	
}
.design .exp-row ul h3{
	font-size: 3rem;
}
.design .exp-row ul li{
	padding-top: 1rem;
	font-size: 1.8rem;
	line-height: 3rem;
}
.design .image img{
	width: 25rem;
	height: 20rem;
	object-fit: cover;
	border: 1rem none;
	border-radius: 2rem;
	margin-top: 1rem;
}


/*----------Contact-------*/
.contact{
	padding: 10rem;
}
.contact .row{
	margin-top: 3rem;
	padding: 2rem;
	background: #ffffff;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 1.0);
	border-radius: 2rem;
	width: 88%;
}
.contact .row .image{
	display: flex;
	flex: 1 1 30rem;
}
.contact .row .image img{
	border-radius: 2rem;
	object-fit: cover;
}
.contact .row form{
	flex: 1 1 30rem;
}

.contact .row form .inputbox input{
	
	padding: 1rem 2rem;
	margin-top: 1.5rem;
	font-size: 1.6rem;
	background: #ffffff;
	border: 1 .5rem 1rem rgba(0, 0, 0, 1.0);
	border-radius: .5rem;
	width: 25rem;
}
.contact .row form .inputbox .btnhire{
	padding: 1rem 2rem;
	margin: 2rem;
	font-size: 1.3rem;
	border-radius: .4rem;
	background: #6495Ed;
}
.contact .row form .inputbox .btnhire:hover{
	background: #da22ff;
}

/*--------Footer---------*/
.footer{
	padding: .5rem 10rem;
	background: #ffffff;
}
.footer h3{
	font-size: 2rem;
	text-align: center;
}
.footer .link{
	font-size: 4rem;
	text-align: center;
	cursor: pointer;
}
.footer .link i{
	padding: 0rem 3rem;
	color: #ffffff;
	text-shadow: 0 .3rem .7rem rgba(0, 0, 0, 1.0);
}
.footer .link i:hover{
	color: #da22ff;
}
.footer p{
	font-size: 1.4rem;
	padding: 1rem 15rem;
}
.footer .menu{
	font-size: 3rem;
	text-align: center;
}
.footer .menu i{
	padding: 0rem 1rem;
	text-decoration: none;
	color: #ffffff;
	text-shadow: 0 .2rem .4rem rgba(0, 0, 0, 1.0);
}
.footer .menu i:hover{
	background: #da22ff;
	border-radius: 2rem;
}
.footer .menu p span{
	color: #da22ff;
	
}

/*--------Media Screen-------*/
@media(max-width: 1200px){
	html{
		font-size: 50%;
	}
}
@media(max-width: 1050px){
	html{
		font-size: 48%;
	}
}
@media (max-width: 991px){
	html{
		font-size: 45%;
	}
	header{
		padding: 1rem 8%;
	}
	header .navbar a{
		padding: 2rem;
		font-size: 2rem;
		margin-left: 2rem;
	}
	.home{
		padding: 20rem 4rem;
	}
	.home .row h1{
		font-size: 6rem;
	}
	.portfolio{
		padding: 10rem 10rem;
	}
	.design{
		padding: 5rem;
	}
	.design .image img{
		width: 20rem;
		height: 18rem;
	}
}
@media (max-width: 768px){
	html{
		font-size: 38%;
	}
	.home{
		padding: 20rem 5rem;
	}

	.portfolio{
		padding: 10rem 10rem;
	}
	.design{
		padding: 5rem;
	}
	.contact .row img{
		width: 50rem;
	}
}
@media(max-width: 669px){
	html{
		font-size: 34%;
	}
	.home .intro h1{
		font-size: 5.5rem;
	}
	.home .intro h2{
		font-size: 3rem;
	}
	
}
@media (max-width: 576px){
	html{
		font-size: 30%;
	}
	.home .row{
		padding-left: 10rem;
		display: inline-block;
	}
	.home .row h1{
		font-size: 7rem;
	}
	.home .row h2{
		font-size: 4rem;
	}
	.home .row h2 span,.btnhire{
		margin-left: 45rem;
	}
	.home .image img{
		margin-top: -20rem;
		width: 25rem;
		height: 25rem;
	}
	.portfolio .row{
		width: 88rem;
	}
	.portfolio .row .education{
		padding: 3rem;
	}

	.design{
		padding: 5rem;
	}
	.design .image img{
		width: 15rem;
		height: 18rem;
	}
	.contact .row img{
		width: 40rem;
	}
}
@media (max-width: 450px){
	html{
		font-size: 28%;
	}
	header #menu-bar,#user{
		display: initial;
	}
	header .navbar{
		position: absolute;
		padding-left: 7rem;
		top: 100%;
		clip-path: polygon(0 0,100% 0,100% 0,0 0);
	}
	header .navbar.active{
		clip-path: polygon(0 0,100% 0,100% 100%,0% 100%);
	}
	header .navbar a{
		display: block;
		border-right: .3rem solid #ffffff;
		border-bottom: .3rem solid #ffffff;
		border-radius: 1rem;
	}
	header .navbar a:hover{
		text-shadow: 0 .5rem 1rem rgba(0, 0, 0, 1.0);
		box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 1.0);
	}
	header .logo{
		margin-left: 5rem;
	}
	.home .row{
		padding-left: 10rem;
		display: inline-block;
	}
	.home .row h1{
		font-size: 7rem;
	}
	.home .row h2{
		font-size: 4rem;
	}
	.home .row h2 span,.btnhire{
		margin-left: 45rem;
	}
	.home .image img{
		margin-top: -20rem;
		width: 25rem;
		height: 25rem;
	}
	.portfolio{
		padding: 10rem;
	}
	.portfolio .row{
		width: 83rem;
	}
	.portfolio .row .education h1,.skill-heading{
		font-size: 2.5rem;
	}
	.portfolio .row .education .edu-row h2{
		font-size: 2rem;
	}

	.portfolio .row .education ul{
		font-size: 1.3rem;
	}
	abbr{
		line-height: 10px;
	}
	.design{
		padding: 5rem;
	}
	.design .image img{
		margin-top: 3rem;
		width: 12rem;
		height: 15rem;
	}
	.contact .row img{
		width: 30rem;
	}
	.footer p{
		font-size: 1.2rem;
		padding: 1rem 15rem;
	}
}
@media(max-width: 401px){
	html{
		font-size: 24%;
	}
	.home{
		padding-top: 8rem 20rem;
	}
	.home .row{
		padding-left: 10rem;
		display: inline-block;
	}
	.home .row h1{
		font-size: 7rem;
	}
	.home .row h2{
		font-size: 4rem;
	}
	.home .row h2 span,.btnhire{
		margin-left: 45rem;
	}
	.home .image img{
		margin-top: -20rem;
		width: 25rem;
		height: 25rem;
	}
	.portfolio{
		padding: 12rem;
	}

	.portfolio .row{
		width: 80rem;
		height: 45rem;
	}
	.bar{
		font-size: 1rem;
	}
	.design{
		padding: 8rem 5rem;
	}
	.design .design-row{
		display: inline-block;
	}
	.design .image img{
		margin-left: 2rem;
		width: 15rem;
	}
	.footer p{
		font-size: 1rem;
		padding: 1rem 18rem;
	}
}
@media(max-width: 320px){
	html{
		font-size: 22%;
	}
}


